<img src="images/plane_background.jpg" class="bgimg" />
<div class="sect aboutsect">
  <img src="../images/class.jpg">
  <div class="overlaymes">
    <p>Here is what will go over the image.</p>
  </div>
</div>
<div class="sect worksect">
  <h2>My Work</h2>
  <p>Little description about what I have done.</p>
  <div class="iconrow">
    <i class="workicon fa fa-graduation-cap"></i>
    <span class="divider"></span>
    <i class="workicon fa fa-briefcase"></i> 
    <span class="divider"></span>
    <i class="workicon fa fa-laptop"></i> 
    <span class="divider"></span>
    <i class="workicon fa fa-hands-helping"></i>
  </div>
  <p><span id="s"><a href="#">At School</a></span><span id="e"><a href="#">Employment</a></span><span id="p"><a href="#">Programming</a></span><span id="v"><a href="#">Service</a></span></p>
</div>
<div class="sect honorsect">
  <h2>Honors and Awards</h2>
  <p>Something will go here but I have no idea what to put so once I decide on that, I will fix this section. In the meantime, here is a couple sentences of me blabbering on so that I can take up some space on this page.</p>


</div>

